{
    "openapi": "3.0.1",
    "info": {
        "title": "OpenAPI CallX",
        "description": "An API that handles outbound calls and customer interactions",
        "license": {
            "name": "MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://app.callx.io"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        }
    ],
    "paths": {
        "/api/v1/calls": {
            "post": {
                "description": "Creates a new outbound call in the callX",
                "requestBody": {
                    "description": "Call details to create a new outbound call",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NewCall"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Call created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "callSid",
                                        "accountSid",
                                        "callLogId",
                                        "to",
                                        "from",
                                        "status",
                                        "direction"
                                    ],
                                    "properties": {
                                        "callSid": {
                                            "type": "string"
                                        },
                                        "accountSid": {
                                            "type": "string"
                                        },
                                        "callLogId": {
                                            "type": "string"
                                        },
                                        "to": {
                                            "type": "string"
                                        },
                                        "from": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "string",
                                            "enum": [
                                                "queued"
                                            ]
                                        },
                                        "direction": {
                                            "type": "string",
                                            "enum": [
                                                "outbound-api"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request or validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/call-logs/{id}/summary": {
            "get": {
                "operationId": "getCallLogSummary",
                "description": "Retrieves the summary for a specific call log",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "The ID of the call log",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "description": "Response format (text for plain text, omit for JSON)",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "text"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Summary retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Summary"
                                }
                            },
                            "text/plain": {
                                "schema": {
                                    "type": "string",
                                    "description": "Plain text summary"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request or validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Call log or summary not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/call-logs/{id}/transcriptions": {
            "get": {
                "operationId": "getCallLogTranscriptions",
                "description": "Retrieves the transcription for a specific call log",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "The ID of the call log",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "description": "Response format (text for plain text, omit for JSON)",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "text"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Transcription retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Transcription"
                                }
                            },
                            "text/plain": {
                                "schema": {
                                    "type": "string",
                                    "description": "Plain text transcription"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request or validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Call log or transcription not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Assistant": {
                "type": "object",
                "properties": {
                    "assistantId": {
                        "type": "string",
                        "description": "Unique identifier for the Assistant id making the call"
                    },
                    "firstMessage": {
                        "type": "string",
                        "description": "Initial message to be sent to the customer"
                    },
                    "systemPrompt": {
                        "type": "string",
                        "description": "System prompt defining assistant behavior"
                    }
                }
            },
            "Customer": {
                "type": "object",
                "required": [
                    "number"
                ],
                "properties": {
                    "number": {
                        "type": "string",
                        "description": "Customer's phone number in international format"
                    }
                }
            },
            "NewCall": {
                "type": "object",
                "required": [
                    "phoneNumberId",
                    "customer"
                ],
                "properties": {
                    "assistant": {
                        "$ref": "#/components/schemas/Assistant"
                    },
                    "phoneNumberId": {
                        "type": "string",
                        "description": "Unique identifier for the phone number making the call"
                    },
                    "customer": {
                        "$ref": "#/components/schemas/Customer"
                    }
                }
            },
            "Summary": {
                "type": "object",
                "required": [
                    "id",
                    "callLogId",
                    "summary",
                    "createdAt"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Unique identifier for the summary"
                    },
                    "callLogId": {
                        "type": "string",
                        "description": "ID of the associated call log"
                    },
                    "summary": {
                        "type": "string",
                        "description": "Generated summary of the call"
                    },
                    "keyPoints": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "Key points extracted from the conversation"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "When the summary was created"
                    }
                }
            },
            "Transcription": {
                "type": "object",
                "required": [
                    "id",
                    "callLogId",
                    "transcript",
                    "createdAt"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Unique identifier for the transcription"
                    },
                    "callLogId": {
                        "type": "string",
                        "description": "ID of the associated call log"
                    },
                    "transcript": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "required": [
                                "speaker",
                                "text",
                                "timestamp"
                            ],
                            "properties": {
                                "speaker": {
                                    "type": "string",
                                    "description": "The speaker (assistant or customer)",
                                    "enum": [
                                        "assistant",
                                        "customer"
                                    ]
                                },
                                "text": {
                                    "type": "string",
                                    "description": "The transcribed text"
                                },
                                "timestamp": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Timestamp of when this part was spoken"
                                }
                            }
                        },
                        "description": "Array of transcribed segments with speaker information"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "When the transcription was created"
                    }
                }
            }
        },
        "Error": {
            "type": "object",
            "required": [
                "error",
                "message"
            ],
            "properties": {
                "error": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Error code"
                },
                "message": {
                    "type": "string",
                    "description": "Error message describing what went wrong"
                }
            }
        }
    },
    "securitySchemes": {
        "bearerAuth": {
            "type": "http",
            "scheme": "bearer"
        }
    }
}